header {
    display: block;
}

#title-bar {
    background-color: var(--dark-green);
    color: #fff;
    text-align: center;
    padding: 10px 0;
    font-size: 24px;
}

footer {
    background-color: var(--dark-green);
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%; /* Ensure it's full width */
}


.container {
    min-height: 100%;
    position: relative;
    padding-bottom: 50px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* You can include other layout specific styles here */
